<div class="header-wrapper">
  <div class="container">

    <!-- Indent -->
    <div class="col-md-1">
    </div>

    <!-- Header Logo -->
    <div class=" col-xs-4 col-md-2 logo-wrapper">
        <%= link_to (image_tag 'logo-1-1.png', alt: 'Young People logo', class: 'logo'), root_path %>
    </div>

    <!-- Indent -->
    <div class="col-md-3">
    </div>

    <!-- Header Navigation -->
    <div class="col-xs-8 col-md-6 nav-wrapper">

      <!-- Toggle Button -->
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#nav-content">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>

      <div class="collapse navbar-toggleable-xs" id="nav-content">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <%= link_to 'О нас', about_us_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Артисты', artists_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Билеты', tickets_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Контакты', contact_us_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Сотрудничество', cooperation_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>