<div id="header-wrapper">
  <div class="container">
    <div class="row">

      <!-- Indent -->
      <div class="col col-md-1">
      </div>

      <!-- Header Logo -->
      <div class="col col-12 col-md-2 logo-wrapper">
        <%= link_to (image_tag 'logo-1-1.png', alt: 'Young People logo', class: 'logo'), root_path %>
      </div>

      <!-- Indent -->
      <div class="col col-md-3">
      </div>

      <!-- Header Navigation -->
      <div class="col col-md-6 nav-wrapper navbar navbar-toggleable-md">

        <span onclick="openNav()" onclick="closeNav()" class="burger-button hidden-lg-up">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </span>

        <div id="mySidenav" class="sidenav text-nowrap">
          <a href="javascript:void(0)" class="closebtn hidden-lg-up" onclick="closeNav()">&times;</a>
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
              <%= active_link_to 'О нас', about_us_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= active_link_to 'Артисты', artists_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= active_link_to 'Билеты', tickets_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= active_link_to 'Контакты', contact_us_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= active_link_to 'Сотрудничество', cooperations_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
