<!DOCTYPE html>
<html>
  <head>
    <title>YoungPeopleFestival</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <%= render partial: 'shared/shim' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="MobileOptimized" content="320"/>
  </head>

  <body>
    <div class="wrapper">
      <%= render partial: 'shared/header' %>
      <div class="main-content">
        <div class="container text-xs-center" >
          <%= yield %>
        </div>
      </div>
      <%= render partial: 'shared/footer' %>
    </div>
  </body>
</html>
